@model IEnumerable<WildBearAdventuresMVC.Models.OrderLineViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderlineView</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>

</body>
</html>
