@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><strong>Today's Coffee:</strong> @ViewBag.CoffeeName</p>
    
















    <p>Learn about <a href="https://Ucommerce.net"></a>.</p>
</div>
